.profile_style{
    font-size: 20px;
    width: 95%;
    padding: 10px;
}

.upper-pro-style{
    height: 350px;
    width: 90%;
    background-color: rgb(90, 14, 90);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    
}

.upper-inside-box{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    width: 90%;
    background-color: white;
    border-radius: 15px; 
}
    
.upper-inside-box:hover{
    box-shadow:  5px 5px 3px 3px rgb(161, 161, 161);


}
.lower{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.lower-inside-box{
    height: 300px;
    width: 80%;
    background-color:  white;
    border-radius: 15px;
    display: grid;
    justify-content: space-evenly;
    padding-top: 20px;
    font-size: 23px;
    color: rgb(116, 32, 116);
}

.lower-inside-box:hover{
    box-shadow:  5px 5px 3px 3px rgb(161, 161, 161);
}
.lower-first-div{
    display: flex;
    justify-content: center;
   padding-top: 23px;
    height: 350px;
    width: 640px;
    background-color: rgb(90, 14, 90);
    border-radius: 15px;
}

.info-div-1{
    padding-top: 100px;
   font-size: 25px;
   color: rgb(116, 32, 116);
  
  
   
}