.schedul-scetion {
    
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   
   
}
.main-she{
    width:900px;
    
   
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.info-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #e8f7e8;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-container div {
    font-size: 16px;
    color: #333;
}

.table-title {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
    font-weight: bold;
}

.routine-table {
    width: 100%;
    border-collapse: collapse;
}

.routine-table th, .routine-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.routine-table th {
    background-color: #0D9F07;
    color: #fff;
    font-weight: bold;
}

.print-button {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #3b82f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.routine-table tr:nth-child(even) {
    background-color: #f9f9f9;
}