

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  body {
    display: flex;
    justify-content: center;
    background-color: aliceblue;
  
    padding: 30px;
    border-radius: 20px;
  }

  .main{
    display: flex;
      width: 95%;
    
      margin-top: 20px;
      background-color: white;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 6px 6px 6px 6px rgba(212, 210, 210, 0.1);
  }



.sidebar {
    height: 800px;
    width: 250px;
    background-color: rgb(90, 14, 90);
    
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.icon {
    color: white;
    font-size: 50px;
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: purple;
    margin-bottom: 20px;
}

.sidebar_items {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    
}

.sidebar_items:hover {
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 5px;
  
}

.sidebar_items i {
    font-size: 20px;
}

.sidebar_items p {
    margin: 0;
}

/* welcome dash */

.content {
    flex: 1;
    padding-left: 100px;
    padding-top: 30px;
}

.welcome_dash{
    height: 230px;
    width: 1300px;
    background-color: rgb(90, 14, 90);
    color: white;
    
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.welcome_text{
    padding-left: 100px;
    font-size: 30px;
    padding-bottom: 10px;
    

}

.welcome_text p{
    padding-top: 20px;
    font-size: 20px;
}
.welcome_icon{
    height: 200px;
    width: 200px;
    display: flex;
    
}
